{{>partials/header}}
    <p>Teste</p>
    {{#users}}
        <span>Ola {{ name.firstName }} {{name.lastName}}, tudo bem?</span>
        {{#testingAge}}
            <p>Você nasceu em  {{birthYear}} anos?</p>
        {{/testingAge}}
        {{^testingAge}}
            <p>Você parece muito novo!</p>
        {{/testingAge}}
    {{/users}}
    <hr/>
    <h2>Suas habilidades são:</h2>
    <ul>
        {{#skills}}
            <li>Tecnologia - {{title}} / Nivel - {{level}}</li>
        {{/skills}}
    </ul>
{{>partials/footer}}