{{>partials/header}}

<h2>Qual é seu nome?</h2>
<form method="POST">
    <input type="text" name="firstName" placeholder="Digite seu nome"/><br/>
    <input type="text" name="lastName" placeholder="Digite seu sobrenome"/>
    <input type="number" name="age" placeholder="Seu ano de nascimento"/><br/>
    <input type="email" name="email" placeholder="Seu E-mail" /><br />
    <input type="text" name="interests" placeholder="Digite seus interesses"/>
    <input type="submit" value="Enviar" />
</form>

{{#name}}
    <hr/>
    <p>Olá {{name}}, tudo bem?</p>
    {{#showAge}}
        <p>Você tem {{age}} anos?
    {{/showAge}}
{{/name}}
{{>partials/footer}}